# STOCK/CRPYTO PRICE PREDICTION MODEL

## The following code is an example on how to use simple data analysis tolls in order to set up a simple strategy for long and short term financial trading

### We will make use of the programing language python (3.x) which suits nicely for data anlysis

## --> This a very is simplified model for trading. One should always invest just as much money as one can afford to loose and do own studies in advance.

## Required modules:
- numpy: the code is designed to be vectorized such that the numpy module can be used and calculations performed fast
- pandas: module for illustrative data frames
- yfinance: api module provided by yahoo finance to get current and previous asset prices
- matplotlib: (sub)module(s) for plots
- scipy: (sub)module for statistical and signal analysis
- datetime: (optional)

In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
from model import MODEL
import utils
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [12]:
tickers = ['BTC-USD', 'LTC-USD', 'XRP-USD']
#fix this for eval_model():
#tickers = 'BTC-USD'
model = MODEL(tickers=tickers)

In [31]:
start_date = '2020-01-01'
model.get_data(start=start_date, interval='60m')

[*********************100%***********************]  3 of 3 completed

In [32]:
day_hour = 10
start_date_range = pd.Timestamp(2020, 1, 1, day_hour)
date_range = utils.create_date_range(start_date=start_date_range)
model.apply_date_filter(date_range)
model.data.tail()

[INFO]: filter applied.

                               BTC-USD    LTC-USD   XRP-USD
Datetime
2020-04-09 10:00:00+01:00  7310.053223  46.071396  0.199285
2020-04-10 10:00:00+01:00  6921.935059  42.448723  0.188029
2020-04-11 10:00:00+01:00  6856.321289  42.360161  0.189060
2020-04-12 10:00:00+01:00  6858.593262  42.519077  0.191863
2020-04-13 10:00:00+01:00  6700.472168  40.133270  0.182317

In [33]:
model.eval_model()

==================================================================================
|                                  PRICE MODEL                                   |
|                                  Version 0.3                                   |
|                   Authors: Marco Rosenzweig & Patrick Lorenz                   |
----------------------------------------------------------------------------------
|                   ticker = ['BTC-USD', 'LTC-USD', 'XRP-USD']                   |
|                             start date = 01/01/20                              |
|                              end date = 04/13/20                               |
|                      initial investment per ticker = 200                       |
==================================================================================
[TICKER]: BTC-USD
[INFO]: Open position.
[INFO]: No tax paid.
[INFO]: Last entry of "Sell Dates" will be assigned equally as the penultimate one.
----------------------------------------------------------------------------------
[SUMMARY]: Average trade win: 6.6316065564%
[SUMMARY]: Average trade loss: -1.9106645211%
[SUMMARY]: Efficiency: 88.24%
[SUMMARY]: NET WIN: 295.28
==================================================================================
[TICKER]: LTC-USD
[INFO]: No tax paid.
----------------------------------------------------------------------------------
[SUMMARY]: Average trade win: 9.0126595189%
[SUMMARY]: Average trade loss: -2.7829658127%
[SUMMARY]: Efficiency: 88.89%
[SUMMARY]: NET WIN: 535.90
==================================================================================
[TICKER]: XRP-USD
[INFO]: No tax paid.
----------------------------------------------------------------------------------
[SUMMARY]: Average trade win: 6.8830036676%
[SUMMARY]: Average trade loss: -1.1920336170%
[SUMMARY]: Efficiency: 83.33%
[SUMMARY]: NET WIN: 315.99
==================================================================================

In [21]:
model.ticker_df['BTC-USD']

,Buy Dates,Sell Dates,Buy Prices,Sell Prices,Trade Reward,Trade Win,Trade Efficiency
0,2020-01-10 17:00:00,2020-01-12 17:00:00,7974.970696,8099.659230,203.126997,3.126997,0.015635
1,2020-01-13 17:00:00,2020-01-15 17:00:00,8160.049818,8732.889162,217.386608,14.259611,0.070200
2,2020-01-20 17:00:00,2020-01-22 17:00:00,8673.141881,8645.649739,216.697535,-0.689072,-0.003170
3,2020-01-24 17:00:00,2020-01-29 17:00:00,8499.971217,9293.056344,236.916379,20.218844,0.093304
4,2020-02-04 17:00:00,2020-02-07 17:00:00,9230.929593,9729.665613,249.716686,12.800307,0.054029
5,2020-02-08 17:00:00,2020-02-09 17:00:00,9871.124540,10043.792079,254.084777,4.368091,0.017492
6,2020-02-11 17:00:00,2020-02-13 17:00:00,10202.103086,10135.410678,252.423793,-1.660984,-0.006537
7,2020-02-17 17:00:00,2020-02-19 17:00:00,9650.532571,10108.291860,264.397157,11.973364,0.047434
8,2020-02-21 17:00:00,2020-02-24 17:00:00,9730.362040,9592.414146,260.648783,-3.748373,-0.014177
9,2020-02-28 17:00:00,2020-03-03 17:00:00,8592.217449,8690.952104,263.643943,2.995160,0.011491
10,2020-03-04 17:00:00,2020-03-06 17:00:00,8768.767025,9043.291626,271.897869,8.253925,0.031307
11,2020-03-10 17:00:00,2020-03-11 17:00:00,7894.749469,7653.620879,263.593318,-8.304551,-0.030543
12,2020-03-13 17:00:00,2020-03-20 17:00:00,5245.240944,6391.193164,321.181778,57.588460,0.218475
13,2020-03-23 17:00:00,2020-03-24 17:00:00,6301.165364,6621.908221,337.530620,16.348843,0.050902
14,2020-03-29 16:00:00,2020-03-31 16:00:00,6134.094369,6425.313318,353.555042,16.024421,0.047475
15,2020-04-01 16:00:00,2020-04-03 16:00:00,6221.755076,6711.326539,381.375240,27.820198,0.078687
16,2020-04-05 16:00:00,2020-04-07 16:00:00,6809.890307,7306.305017,409.176022,27.800782,0.072896
17,2020-04-11 16:00:00,2020-04-07 16:00:00,6833.884493,NaN,NaN,NaN,NaN

In [ ]:
imag_model = model.copy_model()

In [ ]:
imag_model.append_timedelta(timedelta=1)

In [ ]:
imag_model.data

In [ ]:
imag_model.comp_break_values(['BTC-USD', 'LTC-USD'])

In [ ]:
imag_model.data

In [ ]:
imag_model.eval_model(tickers=['BTC-USD', 'LTC-USD'])

In [ ]:
imag_model.ticker_df['BTC-USD']

In [ ]:
imag_model.break_values

In [ ]:
imag_model.data

In [ ]:
imag_model.data['BTC-USD'][-1] = imag_model.break_values['BTC-USD'][0] + 1
imag_model._init_model()
imag_model.data.tail(1)

In [ ]:
imag_model.eval_model(tickers=['BTC-USD'])

In [ ]:
imag_model.ticker_df['BTC-USD']

In [ ]:
import plotting

In [ ]:
plotting.plot_model(imag_model)