# STOCK/CRPYTO PRICE PREDICTION MODEL

## The following code is an example on how to use simple data analysis tolls in order to set up a simple strategy for long and short term financial trading

### We will make use of the programing language python (3.x) which suits nicely for data anlysis

## --> This a very is simplified model for trading. One should always invest just as much money as one can afford to loose and do own studies in advance.

## Required modules:
- numpy: the code is designed to be vectorized such that the numpy module can be used and calculations performed fast
- pandas: module for illustrative data frames
- yfinance: api module provided by yahoo finance to get current and previous asset prices
- matplotlib: (sub)module(s) for plots
- scipy: (sub)module for statistical and signal analysis
- datetime: (optional)

In [17]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [2]:
from model import MODEL
import utils
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [359]:
tickers = ['BTC-USD', 'LTC-USD', 'XRP-USD']
model = MODEL(tickers=tickers)

In [365]:
start_date = '2020-01-01'
model.get_data(start=start_date, interval='60m')

[*********************100%***********************]  3 of 3 completed

In [366]:
day_hour = 18
start_date_range = pd.Timestamp(2020, 1, 1, day_hour)
date_range = utils.create_date_range(start_date=start_date_range)
model.apply_date_filter(date_range)
model.data.tail()

[INFO]: filter applied.

                               BTC-USD    LTC-USD   XRP-USD
Datetime
2020-04-08 18:00:00+01:00  7289.979980  45.987801  0.199276
2020-04-09 18:00:00+01:00  7273.525879  46.049908  0.198907
2020-04-10 18:00:00+01:00  6875.833984  42.219685  0.187196
2020-04-11 18:00:00+01:00  6803.241211  42.053047  0.186905
2020-04-12 18:00:00+01:00  7064.882324  43.122906  0.192111

In [367]:
model.eval_model()

==================================================================================
|                                  PRICE MODEL                                   |
|                                  Version 0.3                                   |
|                   Authors: Marco Rosenzweig & Patrick Lorenz                   |
----------------------------------------------------------------------------------
|                   ticker = ['BTC-USD', 'LTC-USD', 'XRP-USD']                   |
|                             start date = 01/01/20                              |
|                              end date = 04/12/20                               |
|                      initial investment per ticker = 200                       |
==================================================================================
[INIT]: Initialising model for tickers: ['BTC-USD', 'LTC-USD', 'XRP-USD']
[WARNING]: Ignoring second entry of gradient!
[INIT]: Successfully initialized model.
**********************************************************************************
[TICKER]: BTC-USD
[INFO]: Open position.
[INFO]: No tax paid.
[INFO]: Last entry of "Sell Dates" will be assigned equally as the penultimate one.
----------------------------------------------------------------------------------
[SUMMARY]: Average trade win: 5.9070546740%
[SUMMARY]: Average trade loss: -1.0488174376%
[SUMMARY]: Efficiency: 82.35%
[SUMMARY]: NET WIN: 223.94
==================================================================================
[TICKER]: LTC-USD
[INFO]: Open position.
[INFO]: No tax paid.
[INFO]: Last entry of "Sell Dates" will be assigned equally as the penultimate one.
----------------------------------------------------------------------------------
[SUMMARY]: Average trade win: 7.0907074169%
[SUMMARY]: Average trade loss: -4.0633552936%
[SUMMARY]: Efficiency: 89.47%
[SUMMARY]: NET WIN: 381.03
==================================================================================
[TICKER]: XRP-USD
[INFO]: Open position.
[INFO]: No tax paid.
[INFO]: Last entry of "Sell Dates" will be assigned equally as the penultimate one.
----------------------------------------------------------------------------------
[SUMMARY]: Average trade win: 7.1303937571%
[SUMMARY]: Average trade loss: -2.6755889469%
[SUMMARY]: Efficiency: 88.24%
[SUMMARY]: NET WIN: 322.76
==================================================================================

In [368]:
model.ticker_df['BTC-USD']

,Buy Dates,Sell Dates,Buy Prices,Sell Prices,Trade Reward,Trade Win,Trade Efficiency
0,2020-01-10 18:00:00,2020-01-11 18:00:00,8056.407841,8092.316211,200.891424,0.891424,0.004457
1,2020-01-13 18:00:00,2020-01-15 18:00:00,8159.626720,8710.168962,214.445869,13.554445,0.067471
2,2020-01-20 18:00:00,2020-01-22 18:00:00,8703.297439,8635.120274,212.766010,-1.679859,-0.007833
3,2020-01-23 18:00:00,2020-01-30 18:00:00,8372.618587,9450.361622,240.153749,27.387738,0.128722
4,2020-02-04 18:00:00,2020-02-06 18:00:00,9215.028143,9684.722914,252.394510,12.240761,0.050971
5,2020-02-08 18:00:00,2020-02-09 18:00:00,9854.609010,10013.333228,256.459727,4.065217,0.016107
6,2020-02-11 18:00:00,2020-02-12 18:00:00,10167.854639,10278.565529,259.252143,2.792416,0.010888
7,2020-02-16 18:00:00,2020-02-19 18:00:00,9843.817061,10121.483827,266.564927,7.312784,0.028207
8,2020-02-21 18:00:00,2020-02-23 18:00:00,9737.208008,9833.696578,269.206389,2.641462,0.009909
9,2020-02-26 18:00:00,2020-03-03 18:00:00,8823.553376,8684.136919,264.952796,-4.253593,-0.015800
10,2020-03-04 18:00:00,2020-03-06 18:00:00,8771.298760,9045.157029,273.225176,8.272380,0.031222
11,2020-03-09 18:00:00,2020-03-11 18:00:00,7786.559673,7725.586647,271.085673,-2.139503,-0.007831
12,2020-03-13 18:00:00,2020-03-20 18:00:00,5039.419714,6242.962162,335.827873,64.742199,0.238826
13,2020-03-23 18:00:00,2020-03-24 18:00:00,6293.238635,6622.449664,353.395654,17.567781,0.052312
14,2020-03-29 17:00:00,2020-03-31 17:00:00,6142.723324,6408.761391,368.701031,15.305377,0.043309
15,2020-04-01 17:00:00,2020-04-03 17:00:00,6237.840652,6692.664247,395.584361,26.883330,0.072914
16,2020-04-05 17:00:00,2020-04-07 17:00:00,6808.980449,7296.994528,423.936732,28.352371,0.071672
17,2020-04-11 17:00:00,2020-04-07 17:00:00,6822.970610,NaN,NaN,NaN,NaN

In [369]:
imag_model = model.copy_model()

In [370]:
#imag_model.data.index.resolution

In [371]:
imag_model.append_timedelta(timedelta=1)

[USER-INPUT]: Overwrite existing data? [y/n]: y
[INFO]: NaN values were append.

In [372]:
imag_model.data

                               BTC-USD    LTC-USD   XRP-USD
2020-01-01 18:00:00+00:00  7238.930664  41.847260  0.193841
2020-01-02 18:00:00+00:00  6999.171387  40.083302  0.189048
2020-01-03 18:00:00+00:00  7373.281250  42.149002  0.193796
2020-01-04 18:00:00+00:00  7354.490234  42.645058  0.193513
2020-01-05 18:00:00+00:00  7536.349121  44.544765  0.199075
...                                ...        ...       ...
2020-04-09 18:00:00+01:00  7273.525879  46.049908  0.198907
2020-04-10 18:00:00+01:00  6875.833984  42.219685  0.187196
2020-04-11 18:00:00+01:00  6803.241211  42.053047  0.186905
2020-04-12 18:00:00+01:00  7064.882324  43.122906  0.192111
2020-04-13 18:00:00+01:00          NaN        NaN       NaN

[104 rows x 3 columns]

In [381]:
imag_model.comp_break_values(['BTC-USD', 'LTC-USD'])

['BTC-USD', 'LTC-USD']
[INFO]: Compute break values with 30.00% deviation
[USER INPUT]: Append breaking values w.r.t smallest tolerances? y

In [382]:
imag_model.data

                               BTC-USD    LTC-USD   XRP-USD
2020-01-01 18:00:00+00:00  7238.930664  41.847260  0.193841
2020-01-02 18:00:00+00:00  6999.171387  40.083302  0.189048
2020-01-03 18:00:00+00:00  7373.281250  42.149002  0.193796
2020-01-04 18:00:00+00:00  7354.490234  42.645058  0.193513
2020-01-05 18:00:00+00:00  7536.349121  44.544765  0.199075
...                                ...        ...       ...
2020-04-09 18:00:00+01:00  7273.525879  46.049908  0.198907
2020-04-10 18:00:00+01:00  6875.833984  42.219685  0.187196
2020-04-11 18:00:00+01:00  6803.241211  42.053047  0.186905
2020-04-12 18:00:00+01:00  7064.882324  43.122906  0.192111
2020-04-13 18:00:00+01:00  7070.534230  42.846919       NaN

[104 rows x 3 columns]

In [384]:
imag_model.eval_model(tickers=['BTC-USD', 'LTC-USD'])

==================================================================================
|                                  PRICE MODEL                                   |
|                                  Version 0.3                                   |
|                   Authors: Marco Rosenzweig & Patrick Lorenz                   |
----------------------------------------------------------------------------------
|                        ticker = ['BTC-USD', 'LTC-USD']                         |
|                             start date = 01/01/20                              |
|                              end date = 04/13/20                               |
|                      initial investment per ticker = 200                       |
==================================================================================
[TICKER]: BTC-USD
[INFO]: Open position.
[INFO]: No tax paid.
[INFO]: Last entry of "Sell Dates" will be assigned equally as the penultimate one.
----------------------------------------------------------------------------------
[SUMMARY]: Average trade win: 5.9070546740%
[SUMMARY]: Average trade loss: -1.0488174376%
[SUMMARY]: Efficiency: 82.35%
[SUMMARY]: NET WIN: 223.94
==================================================================================
[TICKER]: LTC-USD
[INFO]: Open position.
[INFO]: No tax paid.
[INFO]: Last entry of "Sell Dates" will be assigned equally as the penultimate one.
----------------------------------------------------------------------------------
[SUMMARY]: Average trade win: 7.0907074169%
[SUMMARY]: Average trade loss: -4.0633552936%
[SUMMARY]: Efficiency: 89.47%
[SUMMARY]: NET WIN: 381.03
==================================================================================