# STOCK/CRPYTO PRICE PREDICTION MODEL

## The following code is an example on how to use simple data analysis tolls in order to set up a simple strategy for long and short term financial trading

### We will make use of the programing language python (3.x) which suits nicely for data anlysis

## --> This a very is simplified model for trading. One should always invest just as much money as one can afford to loose and do own studies in advance.

## Required modules:
- numpy: the code is designed to be vectorized such that the numpy module can be used and calculations performed fast
- pandas: module for illustrative data frames
- yfinance: api module provided by yahoo finance to get current and previous asset prices
- matplotlib: (sub)module(s) for plots
- scipy: (sub)module for statistical and signal analysis
- datetime: (optional)

In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
from model import MODEL
import utils
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [3]:
tickers = ['BTC-USD', 'LTC-USD', 'XRP-USD']
model = MODEL(tickers=tickers)

In [4]:
start_date = '2020-01-01'
model.get_data(start=start_date, interval='60m')

[*********************100%***********************]  3 of 3 completed

In [5]:
day_hour = 2
start_date_range = pd.Timestamp(2020, 1, 1, day_hour)
date_range = utils.create_date_range(start_date=start_date_range)
model.apply_date_filter(date_range)
model.data.tail()

[INFO]: filter applied.

                               BTC-USD    LTC-USD   XRP-USD
Datetime
2020-04-09 02:00:00+01:00  7307.210938  46.034824  0.199429
2020-04-10 02:00:00+01:00  7283.327637  46.237686  0.198338
2020-04-11 02:00:00+01:00  6907.293945  42.719639  0.189650
2020-04-12 02:00:00+01:00  6873.324219  42.416199  0.189619
2020-04-13 02:00:00+01:00  6690.620117  40.295059  0.183951

In [6]:
model.eval_model()

==================================================================================
|                                  PRICE MODEL                                   |
|                                  Version 0.3                                   |
|                   Authors: Marco Rosenzweig & Patrick Lorenz                   |
----------------------------------------------------------------------------------
|                   ticker = ['BTC-USD', 'LTC-USD', 'XRP-USD']                   |
|                             start date = 01/01/20                              |
|                              end date = 04/13/20                               |
|                      initial investment per ticker = 200                       |
==================================================================================
[INIT]: Initialising model for tickers: ['BTC-USD', 'LTC-USD', 'XRP-USD']
[WARNING]: Ignoring second entry of gradient!
[INIT]: Successfully initialized model.
**********************************************************************************
[TICKER]: BTC-USD
[INFO]: No tax paid.
----------------------------------------------------------------------------------
[SUMMARY]: Average trade win: 5.5449228627%
[SUMMARY]: Average trade loss: -2.8106852101%
[SUMMARY]: Efficiency: 84.21%
[SUMMARY]: NET WIN: 229.23
==================================================================================
[TICKER]: LTC-USD
[INFO]: No tax paid.
----------------------------------------------------------------------------------
[SUMMARY]: Average trade win: 8.5045871807%
[SUMMARY]: Average trade loss: -3.3439671843%
[SUMMARY]: Efficiency: 85.71%
[SUMMARY]: NET WIN: 556.81
==================================================================================
[TICKER]: XRP-USD
[INFO]: No tax paid.
----------------------------------------------------------------------------------
[SUMMARY]: Average trade win: 6.2972039539%
[SUMMARY]: Average trade loss: -1.6642973904%
[SUMMARY]: Efficiency: 71.43%
[SUMMARY]: NET WIN: 243.46
==================================================================================

In [7]:
model.ticker_df['BTC-USD']

,Buy Dates,Sell Dates,Buy Prices,Sell Prices,Trade Reward,Trade Win,Trade Efficiency
0,2020-01-03 02:00:00,2020-01-08 02:00:00,6993.217293,8246.938576,235.855350,35.855350,0.179277
1,2020-01-10 02:00:00,2020-01-12 02:00:00,7898.618077,8073.173717,241.067640,5.212289,0.022100
2,2020-01-13 02:00:00,2020-01-15 02:00:00,8180.085782,8754.220273,257.987419,16.919779,0.070187
3,2020-01-17 02:00:00,2020-01-19 02:00:00,8780.585379,9099.391748,267.354452,9.367033,0.036308
4,2020-01-21 02:00:00,2020-01-23 02:00:00,8694.294844,8565.723202,263.400802,-3.953650,-0.014788
5,2020-01-24 02:00:00,2020-01-29 02:00:00,8343.878254,9278.287680,292.898379,29.497577,0.111987
6,2020-02-05 02:00:00,2020-02-07 02:00:00,9223.972954,9739.091779,309.255481,16.357102,0.055846
7,2020-02-09 02:00:00,2020-02-10 02:00:00,9932.497319,10064.943357,313.379284,4.123803,0.013335
8,2020-02-11 02:00:00,2020-02-13 02:00:00,9792.066834,10329.655600,330.583944,17.204660,0.054900
9,2020-02-18 02:00:00,2020-02-19 02:00:00,9747.021541,10101.883973,342.619603,12.035658,0.036407
10,2020-02-21 02:00:00,2020-02-24 02:00:00,9664.738689,9731.601005,344.989904,2.370301,0.006918
11,2020-02-27 02:00:00,2020-03-07 02:00:00,8709.026897,9071.234759,359.338011,14.348108,0.041590
12,2020-03-10 02:00:00,2020-03-12 02:00:00,7934.532475,7651.496906,346.519936,-12.818076,-0.035671
13,2020-03-14 02:00:00,2020-03-21 02:00:00,5587.443842,6224.020400,385.998895,39.478959,0.113930
14,2020-03-24 02:00:00,2020-03-25 02:00:00,6558.233903,6570.124577,386.698746,0.699851,0.001813
15,2020-03-30 01:00:00,2020-04-01 01:00:00,5966.964120,6291.639555,407.739862,21.041116,0.054412
16,2020-04-02 01:00:00,2020-04-03 01:00:00,6633.392149,6773.110842,416.328059,8.588197,0.021063
17,2020-04-06 01:00:00,2020-04-07 01:00:00,6861.394706,7321.896539,444.269876,27.941817,0.067115
18,2020-04-12 01:00:00,2020-04-13 01:00:00,6893.256859,6659.843265,429.226388,-15.043488,-0.033861

In [8]:
imag_model = MODEL(tickers=tickers)
start_date = '2020-01-01'
imag_model.get_data(start=start_date, interval='60m', threads=1)

[*********************100%***********************]  3 of 3 completed

In [9]:
imag_model.data

                               BTC-USD    LTC-USD   XRP-USD
Datetime
2019-12-31 23:00:00+00:00  7193.599121  41.340073  0.192894
2020-01-01 00:00:00+00:00  7175.561523  41.404995  0.192183
2020-01-01 01:00:00+00:00  7204.266113  41.656536  0.193125
2020-01-01 02:00:00+00:00  7233.087402  41.866829  0.193707
2020-01-01 03:00:00+00:00  7218.541016  41.586281  0.193341
...                                ...        ...       ...
2020-04-13 09:00:00+01:00  6712.749023  40.206608  0.183831
2020-04-13 10:00:00+01:00  6711.897949  40.212673  0.183655
2020-04-13 10:05:07+01:00          NaN        NaN  0.183647
2020-04-13 10:05:10+01:00          NaN  40.185417       NaN
2020-04-13 10:05:45+01:00  6710.394531        NaN       NaN

[2486 rows x 3 columns]

In [11]:
day_hour = 14
start_date_range = pd.Timestamp(2020, 1, 1, day_hour)
end_date_range = pd.Timestamp(2020, 4, 14)
date_range = utils.create_date_range(start_date=start_date_range, end_date=end_date_range)
imag_model.apply_date_filter(date_range)

[WARNING]: Filter would result in 3 NaN values.
[USER-INPUT]: Remove NaN values? [y/n]:n
[INFO]: filter applied.

In [12]:
imag_model.data['BTC-USD'][-1] = 6732

In [13]:
imag_model.data

                               BTC-USD    LTC-USD   XRP-USD
Datetime
2020-01-01 14:00:00+00:00  7233.032715  42.003963  0.193776
2020-01-02 14:00:00+00:00  7160.981934  41.461071  0.191837
2020-01-03 14:00:00+00:00  7283.427246  41.778397  0.192114
2020-01-04 14:00:00+00:00  7344.643066  42.329323  0.192437
2020-01-05 14:00:00+00:00  7488.599121  43.430580  0.195606
...                                ...        ...       ...
2020-04-09 14:00:00+01:00  7315.837891  46.042286  0.199849
2020-04-10 14:00:00+01:00  6913.478027  42.556747  0.187946
2020-04-11 14:00:00+01:00  6851.965820  42.376022  0.188512
2020-04-12 14:00:00+01:00  6925.831543  42.806408  0.191975
2020-04-13 14:00:00+01:00  6732.000000        NaN       NaN

[104 rows x 3 columns]

In [14]:
imag_model.eval_model()

==================================================================================
|                                  PRICE MODEL                                   |
|                                  Version 0.3                                   |
|                   Authors: Marco Rosenzweig & Patrick Lorenz                   |
----------------------------------------------------------------------------------
|                   ticker = ['BTC-USD', 'LTC-USD', 'XRP-USD']                   |
|                             start date = 01/01/20                              |
|                              end date = 04/13/20                               |
|                      initial investment per ticker = 200                       |
==================================================================================
[INIT]: Initialising model for tickers: ['BTC-USD', 'LTC-USD', 'XRP-USD']
[WARNING]: Ignoring second entry of gradient!
[INIT]: Successfully initialized model.
**********************************************************************************
[TICKER]: BTC-USD
[INFO]: No tax paid.
----------------------------------------------------------------------------------
[SUMMARY]: Average trade win: 5.2888581439%
[SUMMARY]: Average trade loss: -1.6609485107%
[SUMMARY]: Efficiency: 85.00%
[SUMMARY]: NET WIN: 249.00
==================================================================================
[TICKER]: LTC-USD
[INFO]: No tax paid.
----------------------------------------------------------------------------------
[SUMMARY]: Average trade win: 7.9775054177%
[SUMMARY]: Average trade loss: -0.5497847791%
[SUMMARY]: Efficiency: 78.95%
[SUMMARY]: NET WIN: nan
==================================================================================
[TICKER]: XRP-USD
[INFO]: No tax paid.
----------------------------------------------------------------------------------
[SUMMARY]: Average trade win: 5.9800310278%
[SUMMARY]: Average trade loss: -1.7545664017%
[SUMMARY]: Efficiency: 78.95%
[SUMMARY]: NET WIN: nan
==================================================================================

/Users/Marco/Documents/FINANCE/model.py:129: RuntimeWarning: invalid value encountered in greater
  good_calls = np.where(trade_wins > 0)
/Users/Marco/Documents/FINANCE/model.py:130: RuntimeWarning: invalid value encountered in less
  bad_calls = np.where(trade_wins < 0)
/Users/Marco/Documents/FINANCE/model.py:137: RuntimeWarning: invalid value encountered in greater
  average_win = np.mean(win_loss[np.where(win_loss > 0)])
/Users/Marco/Documents/FINANCE/model.py:138: RuntimeWarning: invalid value encountered in less
  average_loss = np.mean(win_loss[np.where(win_loss < 0)])

In [15]:
imag_model.ticker_df['BTC-USD']

,Buy Dates,Sell Dates,Buy Prices,Sell Prices,Trade Reward,Trade Win,Trade Efficiency
0,2020-01-10 14:00:00,2020-01-12 14:00:00,8002.722819,8122.162658,202.984980,2.984980,0.014925
1,2020-01-13 14:00:00,2020-01-15 14:00:00,8115.777268,8816.888674,220.520588,17.535607,0.086389
2,2020-01-17 14:00:00,2020-01-18 14:00:00,8809.830100,8884.484499,222.389276,1.868689,0.008474
3,2020-01-20 14:00:00,2020-01-22 14:00:00,8691.729810,8621.995380,220.605030,-1.784247,-0.008023
4,2020-01-23 14:00:00,2020-01-29 14:00:00,8398.325735,9277.078424,243.687876,23.082846,0.104634
5,2020-02-01 14:00:00,2020-02-02 14:00:00,9365.694280,9402.830300,244.654126,0.966250,0.003965
6,2020-02-04 14:00:00,2020-02-07 14:00:00,9162.958633,9760.371370,260.605250,15.951124,0.065199
7,2020-02-08 14:00:00,2020-02-09 14:00:00,9834.252294,10035.720007,265.944095,5.338844,0.020486
8,2020-02-11 14:00:00,2020-02-13 14:00:00,9876.445590,10189.116591,274.363420,8.419325,0.031658
9,2020-02-17 14:00:00,2020-02-19 14:00:00,9616.320362,10088.869896,287.845739,13.482320,0.049140
10,2020-02-21 14:00:00,2020-02-24 14:00:00,9705.520677,9727.484287,288.497135,0.651395,0.002263
11,2020-02-27 14:00:00,2020-03-03 14:00:00,8875.070508,8724.640173,283.607177,-4.889958,-0.016950
12,2020-03-04 14:00:00,2020-03-06 14:00:00,8781.372812,9058.711577,292.564235,8.957058,0.031583
13,2020-03-09 14:00:00,2020-03-11 14:00:00,7780.232294,7792.687688,293.032602,0.468367,0.001601
14,2020-03-13 14:00:00,2020-03-20 14:00:00,5529.064582,6590.838909,349.305139,56.272537,0.192035
15,2020-03-23 14:00:00,2020-03-24 14:00:00,6183.134122,6652.445324,375.818039,26.512900,0.075902
16,2020-03-29 13:00:00,2020-03-31 13:00:00,6168.639083,6420.521984,391.163747,15.345709,0.040833
17,2020-04-01 13:00:00,2020-04-03 13:00:00,6255.953574,6862.828557,429.109600,37.945853,0.097008
18,2020-04-05 13:00:00,2020-04-07 13:00:00,6826.702593,7325.130131,460.439519,31.329919,0.073011
19,2020-04-11 13:00:00,2020-04-13 13:00:00,6871.836521,6701.032800,448.995012,-11.444507,-0.024856